body {
  background-color: #ccc;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  position: relative;
  text-align: center;
}

.page__search {
  padding-top: 10px;
}

.footer{
  position: absolute;
  top: 0;
  right: 0;
}

.page__error {
  position: absolute;
  padding: 5px;
  color: #fff;
  background-color: #f44336;
}

.characters {
  margin: 0;
  padding: 0;
  list-style: none;
}

.char_item {
  margin: 30px;
}

.character {
  position: relative;
  overflow: hidden;
  background-color: #5b5d48;
  cursor: pointer;
  width: 100%;
  height:100%;
}

.button-display{
  position: relative;
  top: 138px;
  z-index: 99;
}

.modal {
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}
.display-content {
  width: 100%;
  height: 100%;
  background-color: #edefd3;
}

.display-none {
  display: none;
}


.character_name {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-size: 14px;
  pointer-events: none;
}

